.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
mat-icon{
    vertical-align: middle;
}

.alert-success{
    background-color: rgb(9, 129, 9);
    color: white;
    border-radius: 5px;
    border: 2px solid green;
    padding: 2px;
}
.alert-danger{
    background-color: rgb(255, 2, 2);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid rgb(126, 37, 37);
    padding: 2px;
}

form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 300px;
    border-radius: 5px;
}

small mat-icon{
    vertical-align: middle;
    transform: scale(0.5);
}
