<div class="container">
    <form class="mat-elevation-z8" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <h1>Reset Password</h1>
        <p class="alert-success" *ngIf="feedback" ><mat-icon>check_circle</mat-icon> {{feedback}}</p>
        <p class="alert-danger" *ngIf="feedbackerror" ><mat-icon>error_outline</mat-icon>{{feedbackerror}}</p>

        <small>Click <mat-icon>dialpad</mat-icon> to send the the code</small>
        
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="phone" >
          
          <mat-icon (click)="sendOtp()" mat-icon-button matSuffix>dialpad</mat-icon>
         
        </mat-form-field>
    </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Enter code</mat-label>
          <input (keyup)="verifyOTP()" matInput formControlName="otp">
          
          <mat-icon mat-icon-button matSuffix >sms</mat-icon>
         
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="enablefields">
        <mat-form-field appearance="outline" >
          <mat-label>New Password</mat-label>
          <input  matInput type="{{ !showPassword ? 'password' : 'text' }}" formControlName="password" hidden>
         
          <mat-icon (click)="showPassword = !showPassword" mat-icon-button matSuffix >{{showPassword? "visibility":"visibility_off"}}</mat-icon>         
         

        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" *ngIf="enablefields">
          <mat-label>Confirm Password</mat-label>
          <input  matInput type="{{ !showNPassword ? 'password' : 'text' }}" formControlName="npassword">
         
          <mat-icon (click)="showNPassword = !showNPassword" mat-icon-button matSuffix >{{showNPassword? "visibility":"visibility_off"}}</mat-icon>         
         

        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="enablefields">
        <button  mat-raised-button color="primary" type="submit">Reset Password</button>
      </div>
    </form>
  </div>
  