<div class="body">
    <mat-spinner *ngIf="!cartitems" strokeWidth="2" diameter="80"></mat-spinner>
    <!-- the table and column -->
    <div class="main-section">
        <table>
            <tr class="mat-elevation-z8">
                <th>#</th>
                <th>Name</th>
                <th>Model</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            <tr  class="mat-elevation-z8" *ngFor="let p of productDetails; let i = index">
                <td>{{i+1}}</td>
                <td (click)="viewProduct(p._id)">{{p.name}}</td>
                <td>{{p.model}}</td>
                <td>{{cartitems[i].quantity}}</td>
                <td>{{cartitems[i].price}}</td>
                <td>{{cartitems[i].totalCost}}</td>
                <td>
                    <button class="mat-elevation-z8" mat-raised-button >
                        ADD (+1)
                    </button>
                    <button class="mat-elevation-z8" mat-raised-button >
                        REMOVE (-1)
                    </button>
                    <button class="mat-elevation-z8" mat-raised-button color="accent">
                        <mat-icon>delete</mat-icon>
                        DELETE 
                    </button>
                    
                </td>
            </tr>
        </table>

        <div class="checkout">
            <h1>Cart Summary</h1>
            <h1>Total: {{totalcost?totalcost.toLocaleString('en-US'):"Processing..."}} KES</h1>
            

        </div>

    </div>
   
   
</div>