<div class="container">
    <form class="mat-elevation-z8" [formGroup]="loginForm" (ngSubmit)="userLogin()">
        <h1>Login</h1>
        <p class="alert-danger" *ngIf="loginError"><mat-icon>error_outline</mat-icon>{{ loginError }}</p>
        <p class="alert-success" *ngIf="loginFeedback"><mat-icon>check_circle_outline</mat-icon> {{ loginFeedback }}</p>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="phone">
          <mat-error *ngIf="loginForm.get('phone')?.invalid">
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.invalid">
                <!-- {{ getErrorMessage('password')}} -->
            </mat-error>

        </mat-form-field>
      </div>
      <div class="form-group">
        <a mat-button href="#">Forgot Password?</a>
      </div>
      <div class="form-group">
        <button  mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button type="button" (click)="onRegister()">Register</button>
      </div>
    </form>
  </div>
  