
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
mat-icon{
  vertical-align: middle !important;
}
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 5px;
  border-radius: 10px;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 5px;
  border-radius: 10px;
}
.alert-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  padding: 5px;
  border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-group button:first-child {
    margin-right: 16px;
  }