.storesdashboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.storesdashboardoutlet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
button[mat-fab]{
    position: fixed;
    bottom: 5px;
    right: 20px;
    background: linear-gradient(-39deg,#aa00ff -30%,#1de9b6 90%);
    z-index: 999;
}
.storeview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    width: 95%;
    border-radius: 10px;
    flex: 2%;
}
.storecard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1%;
    margin: 10px;
    padding: 10px;
    align-items: center;
    border-left: 5px solid #00c853;
    color: #00c853;
    
}
.storemanagebutton{
    color: #00c853;
}
/* media queries */
@media only screen and (max-width: 600px) {
    .storeview{
        flex-direction: column;
    }
    .storecard{
        flex-direction: column;
    }
}
