.storesdashboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.storemanagementmajorrow{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.storesdashboardoutlet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
}
.aboutstore{
    width: auto;
}
.mat-header-cell, .mat-cell {
    padding: 4px 8px; /* Reduces padding to 4px top/bottom and 8px left/right */
}
.mat-header-cell, .mat-cell {
    font-size: 12px; /* Set a smaller font size for better responsiveness */
}

table, td, th{
    padding: 0;
    border: 1px solid rgb(175, 175, 175);   
    height: max-content;
    width: max-content; 
    border-radius: 5px;
}

.storeproductslisting{
    width: max-content;
    height: max-content;
}
.products{
    height: auto;
    width: auto;
    /* overflow-x: auto */
}
.aboutstore,.storelocation, .products, .orders, .products, .charts, .productsextra{
    margin: 10px;
    background-color: white;
    flex:1;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 3px 11px #e8eafc;
    transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    padding: 10px;
}
.storeContent{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
button[mat-fab]{
    position: fixed;
    bottom: 5px;
    right: 20px;
    background: linear-gradient(-39deg,#aa00ff -30%,#1de9b6 90%);
    z-index: 999;
}
.storeview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2%;
    width: 95%;
    border-radius: 10px;
    flex: 2%;
}
.storecard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1%;
    margin: 10px;
    padding: 10px;
    align-items: center;
    border-left: 5px solid #00c853;
    color: #00c853;
    
}
.storemanagebutton{
    color: #00c853;
}
/* media queries */
@media only screen and (max-width: 600px) {
    .storeview{
        flex-direction: column;
    }
    .storecard{
        flex-direction: column;
    }
}
