
.topnav{
    width: 100vw;
    top:0;

}
.marketplace{
  height: 200vh;
}

.paginator-text{
  width: 100vw;
  text-align: center;
}
.center-display{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}

.fixed{
    background-color: rgb(38, 103, 160);
    position: fixed;
    top: 0;
}
.product-list{
    text-align: center;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.product-card{
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 3px;
    margin: 5px;
    width: auto;
    padding: 3px;
}
.image{
  position: relative;
  width: auto;
  height: auto;
}
.offer{
  position: inherit;
  top: 0;
  right: 0;
}
.offer mat-icon{
  position:absolute;
  top: 0;
  right:0;
  z-index: 999;
  color: rgb(15, 4, 119);
  transform: scale(2);
}
.load-more-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3%
}

.icon-text{
  position: absolute;
  top: -5px;
  right: -0.002;
  font-size:8px;
  line-height: 1;
  text-align: center;
  padding-top:10% ;
  z-index: 9991;
  color: white;
  
  /* background-color: aquamarine; */
}
.offer{
  justify-content: center;
  padding: 10%;
  position: absolute;
  right: 10;
  top: 0;
  height: 30px;
  width: 3px;
  z-index: 9999;
}
.seperator{
  position: absolute;
  bottom: -10px;
  z-index: 9999;
  width: 100%;
  /* background-color: rgb(236, 205, 205); */
  text-align: center;

}
.seperator mat-icon{
  color: rgb(0, 252, 126);
  background-color: white;
  border-radius: 50%;
  padding: 1%;
}
.product-pic{
    height: 100px;
    width: 100px;
    border-radius: 3px;
}
.product-details{
    display: flex;
    flex-direction: row;
}
.price-display, .discounted-price{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
span{
    margin: 3px;
}
.search-results{
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pname{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.search-term{
  color: rgb(255, 0, 179);
}
/* Media queries for different screen sizes */
@media (max-width: 767px) {
    /* Styles for screens up to 767px wide (e.g., mobile devices) */
    .product-pic {
      height: calc(100vw/5);
      width: calc(100vw/5);
    }
    .center-display{
      width: 100% !important;
      flex-wrap: wrap;
      justify-content: center;
    }
   
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* Styles for screens between 768px and 991px wide (e.g., tablets) */
    .product-pic {
      height: calc(100vw/6);
      width: calc(100vw/6);
    }
    .center-display{
      width: 100% !important;
    }
    
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for screens between 992px and 1199px wide (e.g., small laptops) */
    .product-pic {
      height: calc(100vw/10);
      width: calc(100vw/10);
    }
  }
  
  @media (min-width: 1200px) {
    /* Styles for screens larger than or equal to 1200px wide (e.g., large laptops and desktops) */
    .product-pic {
      height: calc(100vw/10);
      width: calc(100vw/10);
    }
  }