<div class="sidebar bg-light d-flex flex-column align-items-center mt-5 pt-5">
  <!-- Profile Section -->
  <div class="profile-section text-start w-100 mb-4">
    <div class="d-flex align-items-center mb-3">
      <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <img 
          class="rounded-circle border" 
          [src]="avatar ? avatar : '/src/assets/profile.png'" 
          alt="Profile Image" 
          width="100" 
          height="100"
        />
        <div class="text-center mt-2">
          <small class="d-block fw-bold">{{ userName }}</small>
          <small class="text-muted">{{ phone }}</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Menu Section -->
  <div class="list-group w-100 border-0">
    <!-- profile -->
    <a 
      class="list-group-item list-group-item-action w-100 text-start d-flex align-items-center gap-2" 
      [class.active]="router.url === '/dashboard/profile'" 
      routerLink="/dashboard/profile"
    >
      <i class="fa-regular fa-user"></i> Profile
    </a>
    <!-- My Store -->
    <a 
      class="list-group-item list-group-item-action w-100 text-start d-flex align-items-center gap-2" 
      [class.active]="router.url === '/dashboard/stores-dashboard'" 
      routerLink="/dashboard/stores-dashboard"
    >
      <i class="fa-solid fa-store"></i> Stores Dashboard
    </a>
    <a 
      class="list-group-item list-group-item-action w-100 text-start d-flex align-items-center gap-2" 
      [class.active]="router.url === '/dashboard/view-orders'" 
      routerLink="/dashboard/view-orders"
    >
      <i class="fa-solid fa-cart-shopping"></i>My Shopping
    </a>

    <!-- My Account -->
    <a 
      class="list-group-item list-group-item-action w-100 text-start d-flex align-items-center gap-2" 
      [class.active]="router.url === '/dashboard/settings'" 
      routerLink="/dashboard/settings"
    >
      <i class="fa-solid fa-gear"></i> Settings
    </a>

    <!-- Income -->
    <a 
      class="list-group-item list-group-item-action w-100 text-start d-flex align-items-center gap-2" 
      [class.active]="router.url === '/dashboard/income'" 
      routerLink="/dashboard/income"
    >
      <i class="fa-solid fa-wallet"></i> Income
    </a>
  </div>

  <!-- Logout -->
  <button 
    class="btn btn-link border-0 w-100 text-start d-flex justify-content-center align-items-center mt-4"
    (click)="userLogout()"
  >
    <i class="fa-solid fa-right-from-bracket"></i> <small>Logout</small>
  </button>

  <!-- Footer -->
  <div class="mt-auto pt-3 w-100 border-top text-center">
    <small><app-footer></app-footer></small>
  </div>
</div>
