<div class="main-body">
    <div class="selectiontab">
        <mat-form-field *ngIf="stores && stores.length>0" appearance="outline" style="margin: 0px !important;">
            <mat-label>Choose store</mat-label>
            <mat-select [(ngModel)]="store" (selectionChange)="selectStore($event.value._id)">
                <mat-option *ngFor="let store of stores" [value]="store">{{store?.storename}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="no_orders" *ngIf="!orders" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <span matTooltip="Change Store"><mat-icon  style="vertical-align: middle;" color="accent">warning</mat-icon>
                NO ORDERS TO SHOW
            </span>
        </div>

        <span><span nz-icon nzType="shop" nzTheme="outline"></span> {{storename}}</span>


    </div>
    <div class="orders-listing">
        
        <!-- DISPLAY THE PRODUCTS HERE -->
         <mat-card *ngIf="orders">
            <mat-card-content *ngIf="orders.length==0" style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100% !important;">
                <mat-spinner strokeWidth="1" diameter="50"></mat-spinner>
            </mat-card-content>        
                        
                        
            <mat-card-content>    
                <mat-form-field *ngIf="orders.length>0" appearance="outline" style="width: 100%;">
                    <button mat-icon-button matSuffix>
                      <mat-icon>search</mat-icon>
                    </button>
                    <mat-label>Search {{storename}} Orders(s)</mat-label>
                    <input
                      matInput
                      (keyup)="applyFilter($event)"
                      placeholder="Type the name, brand, or any verifier"
                      #input
                    />
                  </mat-form-field>  
                  <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-end; padding-right: 2%;">
                        <small *ngIf="orders && orders.length>0">{{orders.length}} Store order(s) found </small>
                    </div>            
                <table *ngIf="orders && orders.length!=0" mat-table [dataSource]="OrdersDataSource">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let order">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(order) : null"
                                        [checked]="selection.isSelected(order)"
                                        [aria-label]="checkboxLabel(order)">
                        </mat-checkbox>
                        </td>
                    </ng-container>   
                    <ng-container matColumnDef="Contact">
                        <th mat-header-cell *matHeaderCellDef> Contact </th>
                        <td mat-cell *matCellDef="let order, let i=index">({{order.buyer[0].zipcode}}){{order.buyer[0].phone | phone}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Client">
                        <th mat-header-cell *matHeaderCellDef> Client </th>
                        <td mat-cell *matCellDef="let order, let i=index"> {{order.buyername | capitalize}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="TransactionID">
                        <th mat-header-cell *matHeaderCellDef>Transaction ID </th>
                        <td mat-cell *matCellDef="let order, let i=index"> {{order.transactionID}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Pay Status">
                        <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                        <td mat-cell *matCellDef="let order, let i=index"> {{order.paymentStatus}} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderStatus">
                        <th mat-header-cell *matHeaderCellDef> Order Status </th>
                        <td mat-cell *matCellDef="let order">
                            <small class="status-processing" *ngIf="order.overallStatus==='processing'">{{order.overallStatus}}</small>
                            <small class="status-confirm" *ngIf="order.overallStatus==='confirm'">{{order.overallStatus}}</small>
                            <small class="status-packed" *ngIf="order.overallStatus==='packed'">{{order.overallStatus}}</small>
                            <small class="status-dispatched" *ngIf="order.overallStatus==='dispatched'">{{order.overallStatus}}</small>
                            <small class="status-partialCompleted" *ngIf="order.overallStatus==='partialCompleted'">ongoing</small>
                            <small class="status-delivered" *ngIf="order.overallStatus==='delivered'">{{order.overallStatus}}</small>
                            <small class="status-completed" *ngIf="order.overallStatus==='completed'">{{order.overallStatus}}</small>

                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let order; let i=index">
                            <button *ngIf='order.paymentStatus == "Completed"' (click)="processOrder(order)" mat-mini-fab style="background-color: rgb(13, 190, 102);"  >                            
                                <span nz-icon nzType="form" nzTheme="outline"></span>
                            </button>   
                            <span *ngIf='order.paymentStatus == "Pending"' nz-icon nzType="issues-close" nzTheme="outline"></span>
                                               
                        </td>
                    </ng-container>
                    <!-- rows -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>    
                                          
    
                </table>
                <mat-paginator  [pageSizeOptions]="[5,10]"></mat-paginator>
            </mat-card-content>
         </mat-card>
         <div class="order-processing-div" *ngIf="orderToProcess">
             <div class="buyer-details" style="display: flex; width:inherit; flex-direction:row; justify-content:space-between;">
                <span><span style="color: rgb(104, 238, 104);" nz-icon nzType="user" nzTheme="outline"> </span>{{orderToProcess.buyername | capitalize}}</span>  
                <span><span style="color: rgb(247, 0, 205);" nz-icon nzType="mobile" nzTheme="outline"> </span>({{orderToProcess.buyer[0].zipcode}}) {{orderToProcess.buyer[0].phone | phone}}</span> 
             </div> 
             <hr>         
            <div class="deliveryroute" style="display: flex; flex: 1; height: 80%;">
                <iframe class="mat-elevation-z8" style="border-radius: 5px; padding: 5px;" [src]="mapUrl" height="300px" width="100%" frameborder="0"></iframe>
            </div>
            <hr>
            <table class="order-table">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let product of orderToProcess.products; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{product.productname}}</td>
                    <td>{{product.productmodel}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.totalCost}}</td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose an Action</mat-label>
                            <mat-select (selectionChange)="updateOrderAction($event.value)" [(ngModel)]="orderAction">
                              <mat-option value="Pack">Pack</mat-option>
                              <mat-option value="Confirm">Confirm</mat-option>
                              <mat-option value="Dispatch">Dispatch</mat-option>
                              <mat-option value="Delivered">Delivered</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-icon-button><span nz-icon nzType="check-circle" nzTheme="outline" style="color: rgb(8, 182, 115);"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>