<div class="main-body">
    <div class="selectiontab">
        <mat-form-field *ngIf="stores && stores.length>0" appearance="outline" style="margin: 0px !important;">
            <mat-label>Choose store</mat-label>
            <mat-select [(ngModel)]="store" (selectionChange)="selectStore($event.value._id)">
                <mat-option *ngFor="let store of stores" [value]="store">{{store?.storename}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="no_orders" *ngIf="!orders" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <span matTooltip="Change Store"><mat-icon  style="vertical-align: middle;" color="accent">warning</mat-icon>
                NO ORDERS TO SHOW
            </span>
        </div>

        <span><span nz-icon nzType="shop" nzTheme="outline"></span> {{storename}}</span>


    </div>
    <div class="orders-listing">
        
        <!-- DISPLAY THE PRODUCTS HERE -->
         <mat-card *ngIf="orders">
            <mat-card-content *ngIf="orders.length==0" style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100% !important;">
                <mat-spinner strokeWidth="1" diameter="50"></mat-spinner>
            </mat-card-content>        
                        
                        
            <mat-card-content>    
                <mat-form-field *ngIf="orders.length>0" appearance="outline" style="width: 100%;">
                    <button mat-icon-button matSuffix>
                      <mat-icon>search</mat-icon>
                    </button>
                    <mat-label>Search {{storename}} Orders(s)</mat-label>
                    <input
                      matInput
                      (keyup)="applyFilter($event)"
                      placeholder="Type the name, brand, or any verifier"
                      #input
                    />
                  </mat-form-field>  
                  <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-end; padding-right: 2%;">
                        <small *ngIf="orders && orders.length>0">{{orders?.length}} Store order(s) found </small>
                    </div>            
                <table *ngIf="orders && orders.length!=0" mat-table [dataSource]="OrdersDataSource">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let order">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(order) : null"
                                        [checked]="selection.isSelected(order)"
                                        [aria-label]="checkboxLabel(order)">
                        </mat-checkbox>
                        </td>
                    </ng-container>   
                    <ng-container matColumnDef="Contact">
                        <th mat-header-cell *matHeaderCellDef> Contact </th>
                        <td mat-cell *matCellDef="let order, let i=index">({{order.buyer[0].zipcode}}){{order.buyer[0].phone | phone}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Client">
                        <th mat-header-cell *matHeaderCellDef> Client </th>
                        <td mat-cell *matCellDef="let order, let i=index"> {{order.buyername}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="TransactionID">
                        <th mat-header-cell *matHeaderCellDef>Transaction ID </th>
                        <td mat-cell *matCellDef="let order, let i=index"> {{order.transactionID}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Pay Status">
                        <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                        <td mat-cell *matCellDef="let order, let i=index"> {{order.paymentStatus}} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderStatus">
                        <th mat-header-cell *matHeaderCellDef> Order Status </th>
                        <td mat-cell *matCellDef="let order">Pending</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let order; let i=index">
                            <button *ngIf='order.paymentStatus == "Completed"' (click)="processOrder(order)" style="background-color: green;" mat-mini-fab color="accent" >                            
                                <mat-icon>settings</mat-icon>
                            </button>   
                            <button *ngIf='order.paymentStatus == "Pending"' disabled="true" mat-mini-fab><mat-icon>more_horiz</mat-icon></button>                     
                        </td>
                    </ng-container>
                    <!-- rows -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>    
                                          
    
                </table>
                <mat-paginator  [pageSizeOptions]="[5,10]"></mat-paginator>
            </mat-card-content>
         </mat-card>
         <div class="order-processing-div" *ngIf="orderToProcess">
            <div class="frame-body">                
                <div class="products">        
                    <div class="product-listings">
                        <div class="buyerheader" style="display: flex; flex-direction: column; border: 1px solid rgb(15, 145, 206); padding: 10px; border-radius: 5px;">
                            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                <span>CLIENT: </span>
                                <span style="font-weight: 800; font-size: 20px; color: rgb(10, 238, 162);">{{orderToProcess.buyername | capitalize}}</span>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                <span>PHONE: </span>
                                <span style="font-weight: 800; font-size: 20px; color: rgb(10, 238, 162);">({{orderToProcess.buyer[0].zipcode}}){{orderToProcess.buyer[0].phone | phone}}</span>
                            </div>
                        </div>
                        <hr>

                        <div class="delivery-map">
                            <iframe
                            class="mat-elevation-z8"         
                            width="100%"
                            height="80%"
                            frameborder="0"
                            style="border:0; border-radius: 10px;"
                            [src]="mapUrl"
                            allowfullscreen>
                            </iframe>
                    
                        </div>
            
                        <table>
                            <thead>
                                <th>#</th>
                                <th>Product</th>
                                <th>Model</th>
                                <th>Qtty</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Action</th>
                                <th></th>
                            </thead>
                            <tr *ngFor="let product of orderToProcess.products; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{product.productname | capitalize}}</td>
                                <td>{{product.productmodel}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.totalCost | currency: ' '}}</td>
                                <td><mat-form-field appearance="outline">
                                    <mat-label>Select Action</mat-label>
                                    <mat-select>
                                      <mat-option value="">Select Action</mat-option>
                                      <mat-option value="pack">Pack</mat-option>
                                      <mat-option value="confirm">Confirm</mat-option>
                                      <mat-option value="dispatch">Dispatch</mat-option>
                                      <mat-option value="delivered">Delivered</mat-option>
            
                                    </mat-select>
                                  </mat-form-field></td>
                                <td>
                                    <button mat-mini-fab style="background-color: rgb(255, 4, 201); color: white; vertical-align: middle;"><mat-icon>check</mat-icon></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>