.checkoutbody{
    color: rgb(20, 15, 90);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;
    font-family:Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;

}
.map{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;

}
#maps iframe{
  width: inherit;
  height: inherit;
}
.estimatedduration{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.estimatedduration iframe {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
*{
    font-family:Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}
.deliverydetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
    margin: 1%;
    
}
.location{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.location button{
  width: 100%;
}
.split{
    display: flex;
    flex-direction: row;
    width: 99%;
}
.whitebackground{
    background-color: rgb(255, 255, 255);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0.3% 0.2% ;
    width: 60%;
}
.checkout-summary button{
  width: 100%;
}
.loadingspinner{
    display: flex;
    z-index: 9;
    width: 100vw;
    height: 85vh;
    align-items: center;
    justify-content: center;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkout-header, .checkout-location, .checkout-payment_method, .checkout-header_checkout{
    height:auto; 
    width: 90%;
    margin: 3px;/* Adjust the height as needed */
  }
  .checkout-location{/* Vertically center the content */
    display: flex;
    border: 1px solid rgb(158, 184, 196);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;

  }
  .summarydetails{
    color: rgb(24, 17, 92);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  hr{
    background-color: white; 
    border: 1px dashed rgb(158, 184, 196);
    border-radius: 50% 50%;
    width:100%; margin:2px;
    margin: 2px;
  }
  
  .location_form_fields{
    display: flex;
    flex-direction: column;
  }
  
  .checkout-header{
    color: rgb(20, 15, 90);
    font-size:x-large;    
    flex-direction: row;
    border-radius: 5px 5px 0px 0px;
    padding: 20px 0px 20px ;    
    justify-content: center; /* Horizontally center the content */
    align-items: center;
  }
  .checkout-summary{ /* Vertically center the content */
    display: flex;
    width: 45%;
    border: 1px solid rgb(158, 184, 196);
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    align-items: flex-start;
    margin: 4px;
  }



  .checkout-header h1{
    margin:0px;
    padding: 0px;

  }

  /* Extra Small Devices (up to 576px) */
@media (max-width: 576px) {
    .checkout-header, .checkout-summary, .checkout-location, .checkout-payment_method, .checkout-header_checkout {
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; /* Full width for extra small screens */
    }
    .split{
        display: flex;
        flex-direction: column;
        width: 99%;
    }
    .whitebackground{
        width: 98%;
    }
}
  
/* Small Devices (576px to 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .checkout-header, .checkout-summary, .checkout-location, .checkout-payment_method, .checkout-header_checkout {
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Full width for extra small screens */
      }
      .whitebackground{
        width: 98%;
    }
/* Add your specific styles for small devices here */
}

/* Medium Devices (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .checkout-header, .checkout-summary, .checkout-location, .checkout-payment_method, .checkout-header_checkout {
        width: 99%;
        display: flex;/* Full width for extra small screens */
      }
/* Add your specific styles for medium devices here */
}

/* Large Devices (992px to 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
    .checkout-header,  .checkout-location, .checkout-payment_method, .checkout-header_checkout {
        width: 99%;
        display: flex;/* Full width for extra small screens */
      }
/* Add your specific styles for large devices here */
}

/* Extra Large Devices (1200px and above) */
@media (min-width: 1200px) {
    .checkout-header, .checkout-location, .checkout-payment_method, .checkout-header_checkout {
        width: 99%;
        display: flex;/* Full width for extra small screens */
      }
    
/* Add your specific styles for extra large devices here */
}