<div class="body">
    <div *ngIf="storeName" class="storeheader" style="background-image: url({{imageurl}});">
        <h3 class="managestoreheader" *ngIf="storeName">
            Store: {{storeName}}
         </h3>
         <div class="button_group">
            <button (click)="addProductToStore(storeId)" color="primary"  mat-flat-button>
                <mat-icon>add</mat-icon>
                ADD PRODUCT
            </button>
            <button  (click)="viewProducts()"  color="accent" mat-flat-button>
                <mat-icon>visibility</mat-icon>
                VIEW PRODUCTS
            </button>
        
         </div>
        
    </div>
    
    <hr>
    <!-- <router-outlet></router-outlet> -->
    
    <div *ngIf="storeName"  class="storedetails">
        <!-- store sales card -->
        <mat-card class="mat-elevation-z8 sales-details">
            <mat-card-header>
                <mat-card-title >
                    Stock & Profitability
                    <mat-icon style="color:red" *ngIf="cpegp<=50" [matTooltip]="cpegp<33.33?'Low Profitability': cpegp>=33.33&&cpegp<=66.67?'Medium Profitability':'High Profitability'">error</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="rejectionrate">
                    <mat-progress-spinner
                        class="example-margin"
                        [color]="pcolor"
                        mode="determinate"
                        diameter="95"
                        strokeWidth="2"
                        [value]="cpegp">
                    </mat-progress-spinner>
                    <span class="progress-text">
                        {{cpegp}}%
                    </span>
                </div>
                <table>
                    <tr>
                        <th>Investment</th>
                        <th>E.G. Profit</th>
                        <th>% Profit</th>
                    </tr>
                    <tr [class]="cpegp<33.33?'low': cpegp>=33.33&&cpegp<=66.67?'medium':'high'">
                        <td>{{investment}}</td>
                        <td>{{cegp}}</td>
                        <td>{{cpegp}}%</td>
                    </tr>
                </table>                
            </mat-card-content>
        </mat-card>
        <!-- rejected and accepted products cards -->
        <mat-card class="mat-elevation-z8 added-products-details">
            <mat-card-header>
                <mat-card-title>Added Products & Approval Rating</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="rejectionrate">
                    <mat-progress-spinner
                        class="example-margin"
                        [color]="acolor"
                        mode="determinate"
                        diameter="90"
                        strokeWidth="2"
                        [value]="(cta/cts*100).toFixed(1)">
                    </mat-progress-spinner>
                    <span class="progress-text">
                        {{(cta/cts*100).toFixed(1)}}%
                    </span>
                </div>
                <table>
                    <tr>
                        <th>All</th>
                        <th>Approved</th>
                        <th>Rejected</th>
                        <th>Approval%</th>
                    </tr>
                    <tr>
                        <td>{{cts}}</td>
                        <td>{{cta}}</td>
                        <td>{{ctrp}}</td>
                        <td>{{(cta/cts*100).toFixed(1)}}</td>
                    </tr>
                </table>                   
            </mat-card-content>
        </mat-card>
        <!-- charts -->
        <!-- rejection rate -->
        <mat-card class="mat-elevation-z8 rejection-rate">
            <mat-card-header>
                <mat-card-title>Rejection Rate</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="rejectionrate">
                    <mat-progress-spinner
                        diameter="160"
                        strokeWidth="2"
                        class="example-margin"
                        [color]="rcolor"
                        mode="determinate"
                        [value]="rejectionRate">
                    </mat-progress-spinner>
                    <span class="progress-text">
                        {{rejectionRate}}%
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- total income charts -->
        <mat-card class="mat-elevation-z8 total-income">
            <mat-card-header>
                <mat-card-title>Total Income</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="totalincome">
                    <div class="totalincomeitem">
                        <h4>Today</h4>
                        <h5>total income</h5>
                    </div>
                    <div class="totalincomeitem">
                        <h4>Week</h4>
                        <h5>total income</h5>
                    </div>
                    <div class="totalincomeitem">
                        <h4>Month</h4>
                        <h5>total income</h5>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- returns charts -->
        <mat-card class="mat-elevation-z8 product-returns">
            <mat-card-header>
                <mat-card-title>Returns</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="returns">
                    <div class="returnsitem">
                        <h4>Today</h4>
                        <h5>returns</h5>
                    </div>
                    <div class="returnsitem">
                        <h4>Week</h4>
                        <h5>returns</h5>
                    </div>
                    <div class="returnsitem">
                        <h4>Month</h4>
                        <h5>returns</h5>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- store rating all time -->
        <mat-card class="mat-elevation-z8 store-rating">
            <mat-card-header>
                <mat-card-title>Store Rating</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="storerating">
                    <h4>Rating</h4>                     
                </div>
            </mat-card-content>
        </mat-card>
    
        
    
    </div> 

</div>