<div class="frame-body">
    <div class="delivery-map">
        <!-- <iframe
        width="100%"
        height="100%"
        frameborder="0"
        style="border:0"
        [src]="googleMapsUrl"
        allowfullscreen>
        </iframe> -->

    </div>
    <div class="products">        
        <div class="product-listings">
            <h1>Client Name: {{data.buyername}}</h1>
            <hr>
            <table>
                <thead>
                    <th>#</th>
                    <th>Product</th>
                    <th>Model</th>
                    <th>Qtty</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </thead>
                <tr *ngFor="let product of orderData.products; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{product.productname}}</td>
                    <td>{{product.productmodel}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.totalCost}}</td>
                    <td></td>
                </tr>
            </table>
            
            <hr>
            <h1>DISPATCH DETAILS</h1>
            <hr>
        </div>
    </div>
</div>