.frame-body{
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    justify-content: space-around;
}

.product-listings{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

.delivery-map{
    width: 100%;
    height: 70%;
    z-index: 8;
}

.products{
    width: 100%;
    height: 30vh;
    overflow-y: auto;
    margin-top: 10px;
    z-index: 1;
}

td{
    text-align: center;
    vertical-align:text-top;
    height: min-content;
}