
.editinfofab{
    position: fixed;
    background-color: #0d033a;
    color: #15f001;
    right: 5px;
    bottom: 5px;
    z-index: 999999;
}
.avatardetailscolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.avatardetails{
    border:5px dotted  #f74983;
    padding: 10px;
    border-radius: 50%;
}
.useravatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    border: 0.5px solid rgb(209, 204, 204);
    
}
.profilemanagementrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
   
}
.userlocationmap {
    width: 100%;         /* Full width */
    height: auto;      /* Set a specific height or use a percentage */
    position: relative;  /* Helps position the iframe correctly */
}

.userlocationmap iframe {
    width: 100%;        /* Full width */
    height: 300px;       /* Full height */
    border: 0;          /* No border */
}

icon-column{
    width: 5px !important;
}
table, tr{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0;
}

.profileinfomanagement, .userlocationmap{
    margin: 10px;
    background-color: white;
    width: 100%;
    flex: 100%;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 3px 11px #e8eafc;
    transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    padding: 1%;
}
td{
    text-align: left;
}
.stars{
    color: #a6b3ff;
}
.user-rating{
    background: #0d033a;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: fit-content;
    width: fit-content;
}
td button{
    color: #0d033a;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
td mat-icon{
    color: #15f001;
}

.storesmanagement, .ordersmanagement,.productsmanagement{
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 25%;
    margin: 2px;
}
.righttabs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 50%;
    width: 20%;
}
.profile{
    padding: 0px 20px 20px 20px;  
    display: flex;
    flex-direction: row;
    background: transparent;

}
.centraltabs{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.welcomediv{
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5%;
}
.welcome{
    text-align: center;
    color: #0d033a;
}
.profile_header{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
