<!-- edit info fab -->
<button mat-fab  class="editinfofab" (click)="editUserInfo()"><mat-icon>edit</mat-icon></button>
<div class="welcomediv">
    <small *ngIf="name" class="welcome"> Hi {{name}}, Welcome to your profile</small>

</div>
<!-- the profile owner detalls header -->
<div class="profile">    
    <div class="profileinfoandmap" style="display: flex; flex-direction: column; width: 40%; flex:40%; margin: 10px;">
        <div class="profileinfomanagement">
            <div class="profilemanagementrow">
                <div class="avatardetailscolumn">
                    <div class="avatardetails">
                        <img [src]="avatar" alt="" class="useravatar">                    
                    </div>     
                    <hr>
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <mat-slide-toggle color="accent"
                        [checked]="approved"
                        [disabled]="approved?false:true">
                        Approved
                    </mat-slide-toggle> 
                    <span style="margin: 5px; vertical-align: middle;">|</span>
                    <mat-slide-toggle color="primary"
                        [checked]="verified"
                        [disabled]="verified?false:true">
                        Verified
                    </mat-slide-toggle> 
                    </div>               
                </div>
                <div style="display: flex; flex-direction: column;" class="profileinfodetails">
                    <span style="font-weight: 800; font-size: xx-large; color: #536dfe">{{name}}</span>
                    <hr>
                    <div style="display: flex; flex-direction: row; font-size: 13px; vertical-align: middle; justify-content: center; align-items: center;">
                        Rating ({{rating}}): 
                        <div class="stars">
                            <mat-icon *ngFor="let i of range(rating)" style="transform: scale(0.7)">
                              star
                            </mat-icon>
                            <mat-icon *ngIf="rating % 1 > 0"style="transform: scale(0.7)">
                              star_half
                            </mat-icon>
                            <mat-icon *ngFor="let i of range(5 - rating)"style="transform: scale(0.7)">
                              star_border
                            </mat-icon>
                          </div>
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <span style="font-size: 12px;"><mat-icon style="vertical-align: middle; transform: scale(0.8); color:#ff6c9e;">phone</mat-icon>({{zipcode}}){{phone}}</span>
                        <span style="font-size: 12px;"><mat-icon style="vertical-align: middle; transform: scale(0.8); color:#ff6c9e;">location_city</mat-icon>{{address}}  {{city}}</span>   
                    </div> 
                    <div style="display: flex; flex-direction: column;">
                        <span *ngIf="active" style="font-size: 12px;"><mat-icon style="vertical-align: middle; transform: scale(0.8); color:#ffc96f;">card_membership</mat-icon>Member for {{calculateTimeDifference(registered)}}</span>                        
                    </div> 
                    <div style="display: flex; flex-direction: column;">
                        <span *ngIf="active" style="font-size: 12px;"><mat-icon style="vertical-align: middle; transform: scale(0.8); color:#1fb883;">brightness_1</mat-icon>{{active?"Active":"Dormant"}}</span>                        
                    </div> 
                    <div style="display: flex; flex-direction: column;">
                       <button mat-stroked-button  color="primary"><mat-icon>edit_attributes</mat-icon>EDIT INFO</button>                     
                    </div> 
    
                                        
                </div>
            </div>        
        </div> 
        <div class="userlocationmap">
            <iframe                
                *ngIf="mapurl && location"
                [src]="mapurl"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        
    </div>
    
    <div class="ordersandstores" style="display: flex; flex-direction: column; width: 60%; flex:60%; margin: 10px; height: 90vh; overflow-y: auto; padding-bottom:1%">
        <div class="ordersmanagement" *ngIf="!orders" style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 20vh; width: 100%;">
            <span><mat-icon color="accent" style="vertical-align: middle;">warning</mat-icon>No Orders Yet!</span>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; padding-left: 2%; font-size: large; font-weight: 400;">
            <span>My Orders</span>
        </div>
        <div class="ordersmanagement">
            <div>
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let row; let i=index"> {{i+1}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="items">
                    <th mat-header-cell *matHeaderCellDef> Items </th>
                    <td mat-cell *matCellDef="let data"> {{data.items}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let data"> {{data.amount | currency:' '}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="deliveryFee">
                    <th mat-header-cell *matHeaderCellDef> Delivery Fee </th>
                    <td mat-cell *matCellDef="let data"> {{data.deliveryfee | currency:' '}} </td>
                  </ng-container>
                  <ng-container matColumnDef="paymentStatus">
                    <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                    <td mat-cell *matCellDef="let data"> {{data.paymentStatus}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let data"> <button mat-mini-fab color="primary" style="color:white"><mat-icon style="color:white">visibility</mat-icon></button></td>
                  </ng-container>
                  
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; padding-left: 2%; font-size: large; font-weight: 400;">
            <span>My Stores</span>
        </div>
        <div class="storesmanagement">
            <div>
                <table mat-table [dataSource]="storesDataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let row; let i=index"> {{i+1}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let data"> {{data.storeName}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="items">
                    <th mat-header-cell *matHeaderCellDef> Items </th>
                    <td mat-cell *matCellDef="let data"> {{data.numberOfProducts}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="totalvalue">
                    <th mat-header-cell *matHeaderCellDef> Stock Value </th>
                    <td mat-cell *matCellDef="let data"> {{data.totalValue | currency:' '}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let data"> <button mat-mini-fab><mat-icon style="color:white">visibility</mat-icon></button> </td>
                  </ng-container>                                 
              
                  <tr mat-header-row *matHeaderRowDef="displayedStoresColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedStoresColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
        </div>
    </div>
    
</div>