.image-thumbnail{
    width: 59px;
    height: 59px;
    border-radius: 3px;
    border: 1px solid white;
    margin: 0.5px;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:50%;
    justify-content:space-evenly;
}
.selected-thumbnail{
    border:1px solid rgb(255, 0, 170);
    padding: 2px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.non-selected-thumbnail{
    border:1px solid black;
    padding: 2px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.price-diplay-div h1{
    color: rgb(15, 4, 119);
}
.price-diplay-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.local-offer mat-icon{
    position:absolute;
    right:50%;
    top:50%;
    color:rgb(19, 231, 125);
    transform: rotate(360deg) scale(6);
    z-index: 99;
}
.local-offer{
    width: 33.33%;
}
.displayimage{
    position: relative;
    height: auto;
    margin: 1px;
    padding: 2px;

}
.offer mat-icon{
    transform: scale(4);
    position: absolute;
    right: 15px;
    top: 10px;
    color: rgb(15, 4, 119);
}
.offer .discount-text{
    position:absolute;
    top: 5px;
    right: 13px;
    z-index: 99;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 12px;

}
.features-details, .other-details, .local-offer{
    position: relative;
    top:0;
    display: flex;
    flex-direction: column;
    margin: 10px;
    line-height: 2;
}
.features-details, .other-details{
    width: 40%;
}
.local-offer{
    width: 15%;
}
mat-icon{
    vertical-align:middle;
}
.features span mat-icon{
    color: rgb(0, 255, 179);
}
.details-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 0.5%;
    background-color: rgb(15, 4, 119);
    /* border-radius: 10px 10px 0px 0px; */
}
.features-details h2{
    color: rgb(3, 240, 141);
}
.checkout{
    background: aqua;
}
.button-div{
    margin: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-div button{
    margin: 1%;
    border-bottom: 1px solid black;
}
.price-div{
    position: relative;
    height: 100%;
    width: 100%;
}
.discount-price-text{
    position:absolute;
    transform: rotate(45deg);
    top: 50%;
    left: 0%;
    color: rgb(255, 255, 255);
    z-index: 999;
    line-height: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}
.details-header h1{
    color: white;
    z-index: 99;
}
.other-details h2{
    color:rgb(3, 240, 141)
}
.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid black;
}
.textual-details{
    position:relative;
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-items: center;
    background-color: rgb(252, 252, 252);
    width: 40%;
    padding: 10px;       
    font-size: 90%;
}
.product-image{
    border:1px solid black;
    padding: 2px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.displayedimg{
    height: 300px;
    width: 300px;
    border-radius: 3px;
}
.product-details{
    height: auto;
    overflow-y: auto;
    /* padding-bottom: 20%; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    
}
.image-details{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    width: 305px;
}

@media (max-width: 767px) {
    .displayedimg{
        height: 350px;
        width: 350px;
        border-radius: 3px;
    }
    .image-thumbnail{
        width: 70px;
        height: 70px;
        border-radius: 3px;
    }
    .product-details{

        overflow-y: scroll;
        flex-direction: column;
        height: 80%;
        padding-top: 30%;
        padding-left: 2%;
        padding-right: 2%;
        justify-content: center;
        width: auto;
    }
    .textual-details{
        width: 100%;
        
    }
    .details-header h1{
        font-size: 10px;
    }
    .details-header mat-icon{
        top: 5px;
        left: 10px;
        visibility: hidden;
        transform: scale(1.5);
    }
    .features{
        flex-direction: column;
        width: 100%;     
    }
    .features-details, .other-details, .local-offer{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
    
   
}