<nav class="navbar navbar-expand-lg navbar-light  d-md-block bg-white rounded-0 p-3">
  <div class="container w-100">
    <div class="row d-flex w-100 justify-content-center">
      <div class="col-12 d-flex justify-content-center upperrow">
        <div class="row w-100 d-flex justify-content-center flex-nowrap">
          <div class="col-auto">
            <small><i class="fas fa-phone me-2"></i>(+254)701650736
              <span class="mx-3">|</span>
              <i class="fas fa-envelope me-2"></i>support&#64;nisoko.com
              <span class="mx-3">|</span>              
              <i class="fas fa-user me-2"></i>
              <a routerLink="/register" class="text-decoration-none"><u>Register</u></a> or 
              <a routerLink="/login" class="text-decoration-none"><u>Sign in</u></a>             
            
            </small>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="row w-100 d-flex justify-content-center flex-nowrap">
          <div class="col-auto d-flex align-items-center">
            <a href="/" class="navbar-brand">
              <span class="fw-bold" style="font-size:100px; font-family: 'bauhaus 93'; color: rgb(0, 0, 0);">nisoko</span>
              <span style="color: rgb(7, 212, 113); font-size:100px;">.</span>
            </a>
          </div>
          <div class="col-8 p-0 d-flex flex-row justify-content-center align-items-center">  <!-- Set the parent div to 100% height -->
            <input
              class="form-control header-search-bar border-0 bg-body flex-grow-1 p-2 fs-6"  
              #searchInput
              (keyup)="searchProduct(searchInput.value)"
              (focus)="onSearchFieldFocus()"
              type="search"
              placeholder="Search..."
              aria-label="Search"
            />
            <a href="javascript:void(0);"  (click)="searchProduct(searchInput.value)" class="btn btn-light mx-1" type="submit">
              <i class="bi bi-search text-success"></i>
            </a>
          </div>
          
          
          <div class="col-auto">
            <button *ngIf="isLoggedIn" class="btn btn-icon btn-success-light rounded-pill btn-wave justify-content-center align-items-center white-text m-1" (click)="logoutUser()">
              <i-feather class="small-icon" name="log-out"></i-feather>
            </button>
            <button
              *ngIf="numberOfNotifications>0"
                class="btn btn-icon btn-success-light rounded-pill btn-wave position-relative justify-content-center align-items-center m-1"
                type="button"
                (click)="openNotifications()"
              >
                <i-feather class="small-icon" name="bell"></i-feather>
                <span
                *ngIf="numberOfNotifications"
                  class="position-absolute top-0 start-100 translate-middle badge bg-primary rounded-pill badge-notification"
                >
                  {{ numberOfNotifications }}
                </span>
            </button>

            
            <button *ngIf="numOfItemsInCart>0" class="m-1 btn btn-link text-decoration-none position-relative btn btn-icon btn-success-light rounded-pill btn-wave justify-content-center align-items-center" (click)="goToCart()">
              <i-feather class="small-icon"  name="shopping-cart"></i-feather>
              <span                
                class="position-absolute top-0 start-100 translate-middle badge-xs badge bg-success rounded-pill badge-notification"
                >{{ numOfItemsInCart }}</span>
            </button>

            <img *ngIf="isLoggedIn"
              class="rounded-circle ms-3"
              [src]="userPic"
              alt="User Avatar"
              style="width: 40px; height: 40px; cursor: pointer;"
              (click)="gotoDashboard()"
            />
          </div>


        </div>
      </div>
    </div>
  </div>
</nav>
