<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container w-100">
    <div class="row d-flex w-100 justify-content-center">
      <div class="col-12 d-flex justify-content-center upperrow">
        <div class="row w-100 d-flex justify-content-center flex-nowrap">
          <div class="col-auto">
            <small><i class="fas fa-phone me-2"></i>(+254)701650736
              <span class="mx-3">|</span>
              <i class="fas fa-envelope me-2"></i>support&#64;nisoko.com
              <span class="mx-3">|</span>              
              <i class="fas fa-user me-2"></i>
              <a routerLink="/register" class="text-decoration-none"><u>Register</u></a> or 
              <a routerLink="/login" class="text-decoration-none"><u>Sign in</u></a>             
            
            </small>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="row w-100 d-flex justify-content-center flex-nowrap">
          <div class="col-auto d-flex align-items-center">
            <a href="/" class="navbar-brand">
              <span class="fw-bold" style="font-size:50px; font-family: 'bauhaus 93'; color: rgb(0, 0, 0);">nisoko</span>
              <span style="color: rgb(7, 212, 113); font-size:80px;">.</span>
            </a>
          </div>
          <div class="col-8">
            <form class="w-100 row d-flex flex-nowrap my-1" (ngSubmit)="searchProduct(searchInput.value)">
              <input
                class="form-control me-2"
                #searchInput
                (focus)="onSearchFieldFocus()"
                type="search"
                placeholder="Search..."
                aria-label="Search"
              />
              <button hidden class="btn btn-outline-success" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
          <div class="col-auto">
            <button class="btn btn-link text-decoration-none" (click)="logoutUser()">
              <i-feather class="small-icon" name="log-out"></i-feather>
            </button>
            <span ngbDropdown class="dropdown">
              <button
                class="btn btn-link text-decoration-none position-relative dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                aria-expanded="false"
                ngbDropdownToggle
              >
                <i-feather class="small-icon" name="bell"></i-feather>
                <span
                  *ngIf="numberOfNotifications"
                  class="position-absolute top-0 start-100 translate-middle badge bg-primary rounded-pill badge-notification"
                >
                  {{ numberOfNotifications }}
                </span>
              </button>
              <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li *ngIf="infoNotification > 0">
                  <a class="dropdown-item" href="#">Info ({{ infoNotification }})</a>
                </li>
                <li *ngIf="successNotification > 0">
                  <a class="dropdown-item" href="#">Success ({{ successNotification }})</a>
                </li>
                <li *ngIf="warningNotification > 0">
                  <a class="dropdown-item" href="#">Warning ({{ warningNotification }})</a>
                </li>
                <li *ngIf="errorNotification > 0" class="d-flex justify-content-center align-items-center">
                    <i-feather class="small-icon text-danger" name="alert-circle"></i-feather>
                    <a class="dropdown-item" href="#">Error ({{ errorNotification }})</a>                  
                </li>
              </ul>
            </span>
            
            
            

            <!-- Shopping Cart -->
            <button class="btn btn-link text-decoration-none position-relative" (click)="goToCart()">
              <i-feather class="small-icon"  name="shopping-cart"></i-feather>
              <span
                *ngIf="numOfItemsInCart"
                class="position-absolute top-0 start-100 translate-middle badge-xs badge bg-success rounded-pill badge-notification"
                >{{ numOfItemsInCart }}</span>
            </button>

            <img
              class="rounded-circle ms-3"
              [src]="userPic"
              alt="User Avatar"
              style="width: 40px; height: 40px; cursor: pointer;"
              (click)="gotoDashboard()"
            />
          </div>


        </div>
      </div>
    </div>
  </div>
</nav>
