mat-drawer-container{
    height: 100vh; 
    padding-top: 110px;
    overflow-y: auto;
    width: 100vw; 
    background-color: #f3f5f9;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the header is on top of other content */
    background-color: white; /* Optional: to ensure background is visible */
  }
  
 