/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
 }
/* style the scrollbar */
::-webkit-scrollbar-track{
    background: #fdfdfd !important;
}
::-webkit-scrollbar{
    width: 5px !important;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,  #0b0330) !important;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,  #0af56c) !important;
    border-radius: 2px;
}
::-webkit-scrollbar:hover{
    width: 10px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

tr:nth-child(even){
    color: rgb(241, 56, 149);
}
 tr:nth-child(odd){
    color: rgb(111, 56, 241);
}
  /* Error Message Style */
  :root{
    .snackbar-error {
        --mdc-snackbar-container-color: transparent;
        --mdc-snackbar-supporting-text-color: red;
        border-left: 2px solid #f44336 !important;
        background-color: #ffebee ;
    }    
  }  
  

  :root{
    .snackbar-success {
        --mdc-snackbar-container-color: transparent;
        --mdc-snackbar-supporting-text-color: #2e7d32;
        --mdc-snackbar-button-color: #2e7d32;
        border-left: 2px solid #2e7d32 !important;
        background-color: #e8f5e9 ;
    }
  }